.UserOutput {
  border: 1px solid #eee;
  padding: 20px;
  margin: 15px auto;
  width: 400px;
  box-shadow: 0 3px 8px #ccc;
  border-radius: 4px;
  background: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
}

.UserOutput p {
  color: whitesmoke;
  text-shadow: 0 1px 1px black;
}