.Cockpit button {
  background-color: #21638c;
  font: inherit;
  border: 1px solid #21638c;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  box-shadow: 0 2px 3px #ccc
}

.Cockpit button:hover {
  background-color: #004d7d;
}

.Cockpit button.Red {
  background-color: #8e0000;
}

.Cockpit button.Red:hover {
  background-color: salmon;
  color: black;
}

.red {
 background-color: #8e0000;
}