.App {
  text-align: center;
}

.App button {
  background-color: #21638c;
  font: inherit;
  border: 1px solid #21638c;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  box-shadow: 0 2px 3px #ccc
}

.App button:hover {
  background-color: #004d7d;
}

.App button.Red {
  background-color: #8e0000;
}

.App button.Red:hover {
  background-color: salmon;
  color: black;
}

/* .App button.bold {
  font-weight: bold;
} */